.headerStyle {
	width: 100%;
	box-sizing: border-box;

	position: fixed;
	z-index: 1100;

	top: 0;
	left: auto;
	right: 0;

	padding: 4px 16px;

	border-bottom: 1px solid #e0e0e0;
	box-shadow: none;

	background-color: #FFFFFF;

	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.titleSide {
	display: flex;
	align-items: center;
}

.logo {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.titleText {
	margin: 0;
	color: #ef6c00;
	font-family: 'Josefin Sans';
	font-size: 2rem;
}

.navSide {
	display: flex;
	flex-direction: row;
}

.bodyWrapper {
	padding-top: 65px;
}

.body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
}

.bodyTop {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 8px;
	margin-bottom: 8px;
}

.bodyGrid {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}
